{% extends "main/base.html" %}

{% block content %}
<div class="blog-list">
    <h1>Blog</h1>

    {% if posts %}
        {% for post in posts %}
            <article class="blog-preview">
                {% if post.preview_image %}
                    <div class="blog-preview-image">
                        <a href="{% url 'blog_detail' post.slug %}">
                            <img src="{{ post.preview_image.url }}" alt="{{ post.title }}">
                        </a>
                    </div>
                {% endif %}
                <div class="blog-preview-text">
                    <h2>
                        <a href="{% url 'blog_detail' post.slug %}">{{ post.title }}</a>
                    </h2>
                    <p class="blog-meta">
                        {{ post.created_at|date:"j F Y" }}
                    </p>
                    <p>
                        {{ post.body|truncatechars:260 }}
                    </p>
                    <a href="{% url 'blog_detail' post.slug %}" class="read-more-button">
                        Read more
                    </a>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <p>No posts yet.</p>
    {% endif %}
</div>
{% endblock %}
